.lmj-banner {
	color: #31B472;
    font-size: larger;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
	text-align: right;
	padding: 25px;
	border-bottom: solid 1px grey;
	display: flex;
	justify-content: right;
	flex-direction: row;
	align-items: center;
}

.lmj-title {
	padding-left: 32px;
}

.lmj-logo {
	height: 50px;
	width: 50px;
}